@import url("./global.css");
@import url("./loader.css");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* @custom-variant rtl (&:dir(rtl));
@custom-variant ltr (&:dir(ltr)); */

@theme {
  --color-bodyBg: #e8edef;
  --color-primary: #667eea;
  --color-secondary: #5f5f5f;
  --color-muted: #9d9d9f;
  --theme-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

[data-theme="dark"] {
  --color-bodyBg: #23292f;
  --color-primary: #ed9e2c;
  --color-secondary: #b3b3b4;
  --color-muted: #9d9d9f;
  --theme-background: linear-gradient(135deg, #f9d0a2 0%, #e89b19 100%);
}
