body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #9d9e9e45;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin: 0;
    color: #17598eea;
}

p {
    margin: 10px 0 20px;
    color: #666;
}

.input-box {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.input-box:focus {
    border-color: #17598eea;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    color: #aaa;
    text-decoration: none;
    font-size: 0.9em;
}

.forgot-password:hover {
    color: #17598eea;
}

.signin-button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 0;
    background-color: #17598eea;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-button:hover {
    background-color: #e6951a;
}

.signup-link {
    color: #17598eea;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0;
    color: #17598eea;
}

.modal-content p {
    color: #666;
    margin: 10px 0;
}

.close-modal-button {
    background-color: #17598eea;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-modal-button:hover {
    background-color: #e6951a;
}
