.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.greeting-header {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 10px;
}

.toggle-button-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
  font-size: 16px;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}


.greeting {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.greeting span {
  margin-right: 5px;
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #d1af5fba;
  box-sizing: border-box;
  position: relative;
  height: 60px;
  padding: 20px;
}

.admin-user-buttons, .tab-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tab-buttons button, .admin-user-buttons button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 2px solid grey;
  background: none;
  font-size: 1em;
  transition: border 0.3s, color 0.3s;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  flex: 1;
  text-align: center;
  height: 100%;
}

.tab-buttons button:hover, .admin-user-buttons button:hover {
  background-color: #fff;
}

.tab-buttons .active, .admin-user-buttons .active {
  font-weight: bold;
  border-color: #000;
  background-color: #fff;
}

.content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  height: auto;
}

.left-container {
  flex: 0 0 25%;
  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #f4f7f7;
  height: 80vh;
  overflow-y: auto;
}

.right-container {
  flex: 1;
  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #f4f7f7;
  height: 80vh;
  overflow-y: auto;
}

.left-container-header, .right-container-header {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 1px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.left-container-header {
  background: lightskyblue;
}

.right-container-header {
  background: #d1af5fba;
}

.left-container label, .right-container input[type="number"] {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}

.left-container select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

.left-container select:focus {
  border-color: #000;
  outline: none;
}

.right-container textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.promptname {
  width: auto; /* Adjust width as necessary */
  padding-top: 10px; /* Add padding */
  padding-bottom: 10px; /* Add padding */
  text-align: left; /* Ensure text is aligned to the left */
}

.promptname input[type="text"] {
  height: 40px; /* Set the height to the desired value */
  font-size: 1em; /* Adjust font size as necessary */
  padding: 10px; /* Add padding inside the text field */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  width: 400px;
}

.description-textarea {
  height: 110px;
}

.instructions-textarea {
  height: 300px;
}

.description-textarea:focus, .right-container textarea:focus {
  border-color: #000;
  outline: none;
}

.right-container input[type="number"] {
  width: 160px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.right-container input[type="number"]:focus {
  border-color: #000;
  outline: none;
}

.right-container .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.right-container .buttons button {
  flex: 1;
  margin: 10px;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.right-container .buttons button:first-child {
  margin-left: 0;
}

.right-container .buttons button:last-child {
  margin-right: 0;
}

.right-container .buttons button:hover {
  background-color: #d71818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prompts {
  margin-top: 10px;
}

.prompts button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.prompts button:hover {
  border-color: #000;
  background-color: #f0f0f0;
}

.prompts .selected {
  border-color: blue;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.reset-button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-container textarea[readonly] {
  background-color: #f0f0f0;
}

.right-container textarea:not([readonly]) {
  background-color: #fff;
}

.left-container-header .admin-user-buttons button,
.right-container-header .tab-buttons button {
  border-radius: 4px;
  margin: 0;
  border: 1px solid #007bff;
  color: #007bff;
  background-color: #fff;
  transition: all 0.3s;
  flex: 1;
  height: 100%;
}

.left-container-header .admin-user-buttons button.active,
.right-container-header .tab-buttons button.active {
  background-color: #007bff;
  color: #fff;
}

.left-container-header .admin-user-buttons button:first-child,
.right-container-header .tab-buttons button:first-child {
  border-right: none;
}

.left-container-header .admin-user-buttons button:hover,
.right-container-header .tab-buttons button:hover {
  background-color: #007bff;
  color: #fff;
}

.response-length-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.response-length-container label {
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.response-length-container input[type="number"] {
  width: 80px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.popup-content button:hover {
  background-color: #0056b3;
}
